/* With this I define font style for all text that isn't styled elsewhere*/
body {
    font-family: 'Roboto';
    background-color: #f7eee1;
}
.content {
    margin: 0 25%;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.container {
 display: block;
 border: 2px solid #4E6C50;
 padding: 10px;
 margin: 10px auto;
 position: relative;
 background-color:#fff;
}

.top-banner {
    display: block;
    width: 100%;
    height: 120px;
    background-color:#F1DBBF;
    color:#4E6C50;
}

/*Styling of the COLOR container and elements inside*/
.color-container {
    display: block;
    position: relative;
    margin: auto;
}

.color-label {
    font-weight: 700;
}

.color-panel-sage {
    display: inline-block;
    background-color: #fff;
    transition: background-color 2s ease-out 10ms;
    margin: 20px auto;
    padding: 10px;
    min-width: 150px;
    border: solid #698269;
    border-width: 1px 1px 15px 1px;
}

.color-panel-sage:hover{
    background-color: #698269;
    border: solid #698269;
    border-width: 1px 1px 15px 1px;
}

.color-panel-brown {
    display: inline-block;
    border: solid #B99B6B;
    border-width: 1px 1px 15px 1px;
    margin: 20px auto;
    padding: 10px;
    min-width: 150px;
    background-color: #fff;
    transition: background-color 2s ease-out 10ms;
}

.color-panel-brown:hover{
    background-color: #B99B6B;
    border: solid #B99B6B;
    border-width: 1px 1px 15px 1px;
}

.color-panel-beige {
    display: inline-block;
    border: solid #F1DBBF;
    border-width: 1px 1px 15px 1px;
    margin: 20px auto;
    padding: 10px;
    min-width: 150px;
    background-color: #fff;
    transition: background-color 2s ease-out 10ms;
}

.color-panel-beige:hover{
    background-color: #F1DBBF;
    border: solid #F1DBBF;
    border-width: 1px 1px 15px 1px;
}

.color-panel-maroon {
    display: inline-block;
    border: solid #AA5656;
    border-width: 1px 1px 15px 1px;
    margin: 20px auto;
    padding: 10px;
    min-width: 150px;
    background-color: #fff;
    transition: background-color 2s ease-out 10ms;
}

.color-panel-maroon:hover{
    background-color: #AA5656;
    border: solid #AA5656;
    border-width: 1px 1px 15px 1px;
}

/* Styling of the FONT container and elements inside */

.font-container {
    display: block;
    position: relative;
    margin: auto;
}

.font-panel {
    display: inline-block;
    position: relative;
    margin: 10px auto;
    padding: 20px;
    width: 25%;
}

/*Defining font-family for each of the classes. Note that I defined standard font family for entire body element as Roboto so no need to add that here*/

.roboto-slab{
    font-family: 'Roboto Slab', serif;
}

.roboto-mono{
    font-family: 'Roboto Mono', monospace;
}

.regular {
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.font-label {
    text-decoration: underline;
    font-size: 20px;
    text-align: left;
}

.text-panel {
    display: block;
    position: relative;
    margin: auto;
    padding: 10px;
}

.text-panel h1{
    font-weight: 700;
    font-family: "Roboto Slab", sans-serif;
    font-size: 26px;
}

.text-panel h2{
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.text-panel p{
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.text-panel li{
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
